* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center; /* Center the text horizontally */
  padding-top: 20px; /* Add padding above the header */
}

h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 5px;
}

li {
  margin-bottom: 5px; /* Add spacing between list items */
  display: flex; /* Use flexbox to align delete button and text */
  align-items: center; /* Center vertically within the list item */
  justify-content: space-between; /* Spread elements horizontally */
}


/* Style for the delete button */
.delete-button {
  background-color: #db5030; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove the button border */
  font-size: 18px; /* Font size */
  cursor: pointer; /* Change cursor to a pointer on hover */
  padding: 5px 10px; /* Padding for button */
  border-radius: 50%; /* Make it a circle */
}

/* Hover effect for the delete button */
.delete-button:hover {
  background-color: #5e3027; /* Change background color on hover */
}

/* Center the "x" symbol within the button */
.delete-button span {
  display: inline-block;
  line-height: 1;
}

button {
  background-color: #3e6186;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size:
}

hover-text {
  color: black;
  cursor: pointer;
}

.hover-text:hover {
  color: rgb(49, 117, 97);
  cursor: pointer;
}
 */
