#request_detail_modal{
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -287.5px;
  width: 575px;
  background-color: #1ac252;
  z-index: 2;
}
#modal_layer{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}